apiVersion: v1
kind: Service
metadata:
  name: hello-world-interview-app-service
  labels:
    app: hello-world-interview-app
spec:
  type: LoadBalancer
  ports:
    - port: 80
      targetPort: 3000
      protocol: TCP
      name: http
  selector:
    app: hello-world-interview-app
